<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
<%= link_to 'Repositório', elementos_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to 'Home', root_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.tabelaperiodica.org/wp-content/uploads/2020/03/Tabela-completa-5-algarismos-sem-intervalo-v8-colorida-scaled.jpg">Tabela Periodica</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" background-color="000000">Search</button>
      </form>
    </div>
  </div>
</nav>


<nav class="navbar fixed-bottom navbar-dark bg-primary">
  <div class="container-fluid">
  <footer style="color:white"> 
  <p>Distribuido por Elton Nóbrega</p><p>Dúvidas ou sugestões (contato: eltonobrega@hotmail.com)</p>
  </footer>
  </div>
</nav>